html, body, * {
	font-family: 'Roboto', sans-serif;;
	text-align: center;
	font-size: 14px 65%;
}

/* div#title {
    width: 880px;
    margin: 10px auto 0;
    padding: 5px 20px;
    background-color: grey;
    border: 1px solid grey;
    color: white;
    box-shadow: 3px 0px 3px lightgrey;
} */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 0 auto;
}

h2 {
	font-size: .8em;
	font-weight:100;
	margin: .3em auto;
}

div#chart {
	width:920px;
	margin: 0 auto 1em;
	/* border: 1px solid grey; */
	/* box-shadfow: 3px 3px 3px lightgrey; */
}

.bar.female {
  fill: #AB1254;
}

.bar.male {
  fill: #0EE5AE;
}

.line.female {
	stroke: #AB1254;
	stroke-width: 2px;
}

.line.male {
	stroke: #0EE5AE;
	stroke-width: 2px;
}

g.infowin {
	fill: grey;
}

g.infowin text,
.axis text {
  font: 11px sans-serif;
  fill:grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #828282;
  shape-rendering: crispEdges;
}

path.domain {
	stroke:none;
}

/* new */
#dashline {
  strike-width: 1;
  stroke: grey;
  opacity: .9;
  fill: none;
  stroke-dasharray: 3, 3;
}

.title_label {
  font-size: .9em;
  font-weight: 400;
	fill: #292929;
  text-anchor: left;
}

.barlabel {
	text-anchor: left;
}

.annotation_label {
	font: 11px sans-serif;
  fill: #484848;
}

#arrow {
	fill: #484848;
	opacity: .85;
}

#arrow_body {
	stroke: #484848;
	stroke-opacity: .7;
	stroke-width: 1.3;
}
